<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ma Todolist</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="todolist">
    <h1>Ma Todolist</h1>
    <ul> <% for (i in taskList) { %>
      <li> <span class="list-text"><%= taskList[i] %></span>
          <a href="/supprimer/<%= i %>">✘</a>
      </li> <% } %>
    </ul>

    <hr>

    <form method="POST" action="/ajouter">
      <label for="addtask">Que dois-je faire ?</label>
      <input type="text" name="addtask" required autofocus>
      <button type="submit">Valider</button>
    </form>
  </div>
</body>
</html>
